<p id="notice"><%= notice %></p>

<h1>Listing Peices</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @peices.each do |peice| %>
      <tr>
        <td><%= peice.title %></td>
        <td><%= peice.description %></td>
        <td><%= peice.image_url %></td>
        <td><%= peice.price %></td>
        <td><%= peice.category %></td>
        <td><%= peice.subcategory %></td>
        <td><%= link_to 'Show', peice %></td>
        <td><%= link_to 'Edit', edit_peice_path(peice) %></td>
        <td><%= link_to 'Destroy', peice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><a href="/cart/<%= peice.id %>"> Add To Cart</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peice', new_peice_path %>
